ErrorDocument 404 /errors/error404
ErrorDocument 403 /errors/error403
ErrorDocument 401 /errors/error401

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

